# Byte-compiled / optimized / DLL files
__pycache__/
*$py.class
.DS_Store

# Distribution / packaging
.Python
/build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
poetry.lock

# Generated version file
src/planingfsi/_version.py

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
coverage.xml
.pytest_cache/
test-reports/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/

# Editor and misc backup files - anywhere
*~
.*~
*.swp
.idea
.vscode/

# Documentation and wiki
wiki/
docs/build/

# Tutorial output
tutorials/**/mesh
tutorials/**/[0-9]*
tutorials/**/figures
tutorials/**/*.png
tutorials/**/*.eps
