# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments
#

# Editor and misc backup files - anywhere
*~
.*~
*.swp
.idea

# Compiled files
*.pyc

# Python virtualenv
.env
.env/*
env/**
/venv/

# Documentation and wiki
wiki/
docs/build/

# Build artifacts
*.egg-info
.eggs/
dist/
*.out

old/

# Tutorial output
tutorials/**/mesh
tutorials/**/[0-9]*
tutorials/**/figures

# Test output
.pytest_cache/
html_cov/
.coverage
htmlcov/
/pre-commit-hook.sh
