repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
  - id: check-docstring-first
- repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
  rev: v2.15.0
  hooks:
  - id: pretty-format-yaml
    args: [--autofix, --preserve-quotes, --indent, '2']
  - id: pretty-format-toml
    args: [--autofix]
- repo: https://github.com/sondrelg/pep585-upgrade
  rev: 'v1.0'
  hooks:
  - id: upgrade-type-hints
    args: ['--futures=true']
- repo: https://github.com/MarcoGorelli/absolufy-imports
  rev: v0.3.1
  hooks:
  - id: absolufy-imports
- repo: https://github.com/pycqa/isort
  rev: 7.0.0
  hooks:
  - id: isort
    name: isort
- repo: https://github.com/psf/black-pre-commit-mirror
  rev: 25.12.0
  hooks:
  - id: black
- repo: https://github.com/pycqa/flake8
  rev: 7.3.0
  hooks:
  - id: flake8
