name: Publish

on:
    # Only on merges into main
  push:
    tags: v[0-9]+.[0-9]+.[0-9]+

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
    - name: Check out repository
      uses: actions/checkout@v6
    - name: Set up python 3.10
      uses: actions/setup-python@v6
      with:
        python-version: "3.14"
    - name: Install package dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install build twine
    - name: Build the package
      run: python -m build
    - name: Upload to PyPI with twine
      run: python -m twine upload ./dist/*
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
